.vscode/**
.vscode-test/**
src/**
.gitignore
.vscodeignore
tsconfig.json
Makefile
package-lock.json
**/*.map
**/*.ts
**/*.d.ts
!out/**/*.js
out-test/**
tsconfig.test.json
node_modules/**
*.md
!README.md
*.vsix
media/icon-source.png
media/*-preview.png
media/*-24.png
media/icon-128.png
media/github-social.png
